//First line
.header {
  max-width: 1920px;
  height: 50px;
  margin: auto;
  display: flex;
  justify-content:center;
  background-color: #414141;
}

.header__container {
  max-width: 1500px;
  height: 100%;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.list { 
  display: flex;
  align-items: center;
  align-self: center;
  padding-right: 480px;
}

.item { 
  list-style-type: none;
}

.link { 
  text-decoration: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 15px 20px 15px;
  color: #FFFFFF;
}

.link:hover {
  color: #202020;
  background-color: rgb(255, 255, 255);
  transition: all 1s ease;
}

.active {
  color: #202020;
  background-color: rgb(255, 255, 255);
}

.mobl { 
  color: #FFFFFF;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-top: 7px;
  text-decoration: none;
}

.mobl:hover {
  color: #00B046;
  transition: all 1s ease;
}

.mail { 
  color: #FFFFFF;
  padding-left: 40px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-top: 7px;
  text-decoration: none;
}

.mail:hover {
  color: #00B046;
  transition: all 1s ease;
}

.lang { 
  color: #FFFFFF;
  background-color: #414141;
  border: none;
  margin-left: 40px;
  padding-bottom: 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

// Second line
// Navbar
.navbar-nav {
  padding-left: 50px;
}

.nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #414141;
}

.nav-link:hover {
  color: #00B046 !important;
  border-bottom: #00B046 solid 1px;
  transition: all 1s ease;
}

.nav-link .active {
  color: #00B046 !important;
  border-bottom: #00B046 solid 1px;
}

.active-link {
  color: #00B046 !important;
  border-bottom: #00B046 solid 1px;
}

// Ramember
.conteiner-star {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-right: 0px;
  margin-bottom: 10px;
  fill: #DFDFDF;
}

.star:hover {
  fill: crimson;
}

// Log in user
.users {
  background-color: #00B046;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-left: 30px;
}

.users:hover {
  background-color: #ffffff;
  color: #00B046;
  transition: all 1s ease;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.users:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

// nav-second-container
.nav-second-container {
  display: flex;
}

// Search
.search-wrap { 
  transform: translate(-50%, -50%);
  width: 0;
  height: 55px;
  transition: all 0.5s ease;
}

.search-wrap .active {
  width: 200px;
  margin-left: -210px;
  transition: all 0.5s ease;
}

.search-input { 
  width: 0;
  border: none;
  outline: none;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #414141;
  transition: all 0.3s ease;
  position: relative;
  right: 30px;
  top: 34px;
}

.search-input .active{ 
  width: 98%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
  background-color: #505050;
}

.search-input::placeholder{
  color: #414141;
}

.search-btn { 
  cursor: pointer;
  position: absolute;
  right: 35px;
  top: 40px;
}

// News__sub-nav
.news {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-color: #E5E5E5;
  padding-bottom: 80px;
}

.news__sub-nav {
  display: flex;
  align-self: center;
  padding-top: 30px;
}

.news__icon-home {
  margin-top: 4px;
  margin-left: 9px;
}

.news__sub-title {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9D9D9D;
  padding-left: 9px;
}

.news__title {
  padding-top: 30px;
  font-family: 'Manrope', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  padding-bottom: 20px;
}

// Serch-bar
.news-serch__list { 
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.news-serch__item { 
  list-style-type: none;
  margin-right: 10px;
  margin-top: 5px;
}

.news-serch__link { 
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #005F10;
  padding: 4px 12px;
  background-color: #E5F5E8;
  border-radius: 4px;
  transition: all 1s ease;
}

.news-serch__link:hover{
  background-color: #005F10;
  color: #E5F5E8;
} 

.news-serch__link:hover { 
  color: #E5F5E8;
}

//Gallery-news
.news__gallery { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container__block { 
  max-width: 360px;
  padding-top: 40px;
}

.container__block:last-child { 
  max-width: 360px;
  padding-top: 40px;
}

.news__image{
  width: 100%;
}

.news__date { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #606060;
  padding-top: 16px;
}

.news__heading { 
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #202020;
  padding-top: 16px;
}

.news__headings{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #20202000;
  padding-top: 16px;
}

// Pages
.page { 
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.page__item { 
  width: 32px;
  height: 32px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #606060;
  fill: #6060609c;
  border: solid 1px #60606049;
  margin-right: 8px;
  list-style-type: none;
  padding-top: 3px;
  border-radius: 2px;
}

.page__item:hover {
  transition: all 1s ease;
  background-color: #00B046;
  border-radius: 2px;
  color: white;
  fill: white;
}

.page__active {
  background-color: #00B046;
  color: white;
  fill: white;
}

.page__item:last-child{
  margin-right: 0;
}

// Footer
.footer { 
  background-color: #414141;
  padding: 64px 0 32px 0;
}

// Block first
.footer__bl-firts { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-blocks { 
  flex-shrink: 1;
}

.footer-blocks__title { 
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

// .footer-blocks__item { }

.footer-blocks__items { 
  width: 262.5px;
  height: 66px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #DFDFDF;
}

.footer-blocks__link { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #DFDFDF;
  text-decoration: none;
}

.footer-blocks__link:hover { 
  color: #00B046;
  transition: all 1s ease;
}

.footer-blocks__form { 
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}

.footer-blocks__input { 
  width: 262.5px;
  height: 52px;
  margin-bottom: 16px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 28px;
  padding-left: 5px;
}

.footer-blocks__btn { 
  width: 134px;
  height: 48px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  color: #DFDFDF;
  background-color: #00B046;
  border-radius: 4px;
  border: none;
}

.footer-blocks__btn:hover {
  background-color: #ffffff;
  color: #00B046;
  transition: all 1s ease;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer-blocks__btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

// Line
.footer-hr { 
  background-color: #FFFFFF;
}

// Block second
.footer-bl-second { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__container{
  display: flex;
  flex-wrap: wrap;
}

.footer-bl-second__text { 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer-bl-second__item { 
  padding-right: 24px;
}

.footer-bl-second__item:last-child {
  padding-right: 0;
}

.footer-bl-second__link {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #FFFFFF;
  text-decoration: none;
}

.footer-bl-second__link:hover {
  color: #00B046;
  transition: all 1s ease;
}


// Adaptive
@media screen and (max-width:1415px) {
  .list { 
    display: flex;
    align-items: center;
    align-self: center;
    padding-right: 280px;
    padding-top: 10px;
  }
}

@media screen and (max-width:1260px) {
  .header {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
  }

  .header__container {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
    align-self: center;
    justify-content: center;
  }

  .list { 
    padding-right: 0px;
    padding-top: 10px;
  }

  .link { 
    padding: 15px 15px 20px 15px;
  }

  .mobl { 
    padding-top: 10px;
    color: white;
    padding-left: 0px;
  }
  
  .mail { 
    padding-top: 10px;
    padding-left: 0px;
  }
  
  .lang { 
    padding-left: 0px;
    padding-top: 10px;
  }

  
  .nav-container {
    flex-direction: column;
  }

  .nav-second-container{
    justify-content: center;
    align-items: center;
  }

  // Search
  .search-wrap { 
    transform: translate(-50%, -50%);
    width: 0;
    height: 55px;
    transition: all 0.5s ease;
    margin-left: 135px;
  }
}

@media screen and (max-width:990px){
  .navbar-light .navbar-toggler {
    margin-top: 10px;
  }

  .navbar-nav {
    padding-left: 0px;
}
}

@media screen and (max-width:600px) {
  .list { 
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    padding-right: 0px;
  }
  
  .item { 
    list-style-type: none;
    margin: 15px;
  }
  
  .link { 
    padding: 5px;
  }
}

@media screen and (max-width:470px) {
  .nav-second-container{
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // align-self: center;
  }

  // block star
  .search-wrap { 
    margin-left: 170px;
  }
  
  // Log in user
  .users {
    margin-left: 0px;
  }

  .news__image {
    width: 90%;
  }
}